.App {
  text-align: center;
  display: grid;
  height: 300vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.tile {
  border: 1px solid black;
}

.tile img {
  background-size: cover;
}
