.App {
  text-align: center;
  display: grid;
  height: 100vh;
  padding: 5% 20% 5% 20%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0.2rem;
}

.tile {
  border: 1px solid black;
}

.tile img {
  background-size: cover;
}
